.card-price-container{
    position:absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: rgba(0,0, 0, 0.8);
}

.card-price-title{
    margin-bottom: 3px;
}

.card-price-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-value-play{
    display: flex;
    flex-direction: row;
}

.price-value-play >span{
    font-weight: bold;
    color: pink;
    margin-right: 10px;
}